html {
   box-sizing: border-box;
}
    
   *,
   *::before,
   *::after {
   box-sizing: inherit;
}

.clearfix {
   display: table;
   content: "";
   clear: both;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
}

.click {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.click a {
    text-decoration: none;
    color: #686C77;
}

.phone {
    position: relative;
    display: flex;
    align-items: center;
}

.phone::before {
    content: "";
    display: block;
    position: absolute;
    background: #EDEDED;
}

.phone-numb {
    width: auto;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    color: #B38876;
    margin: 0;
}

.site-menu-wrapper {
    display: flex;
    flex-direction: row;
}

.click .phone-numb {
    color: #B38876;
}

.overlay {
    background: #F8F8FA;
    background-size: cover;
    margin: 0 auto;
}

.hero-time {
    position: relative;
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #234255;
}

.hero-time::before {
    content:url(IMG/logo/Vector-STAR.svg);
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-10%);
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 125%;
    color: #234255;
}

.hero-quote {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #686C77;
}

.hero-button {
    background: #B38876;
    border: none;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

/* achievment of hero */

.achievement {
    position: relative;
    padding-left: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #234255;
}

.achievement::before {
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    transform: translateY(-10%);
}

.achievement-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
}

.achievement-title span {
    display: inline-block;
    color: #B38876;
}

.achievement-button {
    background: #B38876;
    border: none;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-card {
    position: relative;
}

.advantages-card::before {
    content: url(IMG/logo/image-tree.png);
    display: inline-block;
    width: 38px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 0;
}

.advantages-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #234255;
}

.advantages-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.01em;
    margin: 0;
    color: #686C77;
}

/* hero-header */

.hero-header-wrapper {
    text-align: center;
}

.hero-header-title {
    position: relative;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
}

.hero-header-title::before,
.hero-header-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5px;
    background: #EDEDED;
}

.hero-header-title span {
    display: inline-block;
    color: #B38876;
}

.hero-header-quote {
    position: relative;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #686C77;
}

.hero-header-quote::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    background: #234255;
}

.author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #B38876;
}

.treatment {
    position: relative;
    background-color: #F8F8FA;
}

.methods-top {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    margin: 0;
    padding-left: 30px;
}

.methods-top::before {
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    transform: translateY(-10%);
}

.methods-FauziaAkhtari {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.methods-main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #686C77;
    margin: 0;
}

.methods-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.methods-card {
    height: auto;
}

.methods-numb {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    letter-spacing: -0.02em;
    color: #B38876;
    margin: 0;
}

.methods-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.005em;
    color: #686C77;
    margin: 0;
}

/* offer */

.offer-text {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    margin: 0;
    padding-left: 30px;
}

.offer-text::before {
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    position: absolute;
    left: 0;
    transform: translateY(-10%);
}

.offer-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.offer-title span {
    display: inline-block;
    color: #B38876;
}

.offer-list .slick-arrow.slick-prev {
    position: absolute;
    overflow: hidden;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offer-list .slick-arrow.slick-prev:hover {
    background: url(./IMG/logo/Arrow-l-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

.offer-list .slick-arrow.slick-next {
    position: absolute;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offer-list .slick-arrow.slick-next:hover {
    background: url(./IMG/logo/Arrow-r-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

.list-counter {
    display: none;
}

.offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer-card {
    position: relative;
}

.offer-image-card {
    margin: 0;
}

.offer-card-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.offer-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

.offer-card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 0;
}

.offer-link {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    padding-right: 16px;
}

.offer-link::after {
    position: absolute;
    content: url(IMG/logo/arrow-short_right.svg);
    transform: translateY(-5%);
    width: 16px;
    height: 18px;
}

.offer-link::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

/* certificate */

.certificate-item {
    width: 450px !important;
    margin: 0 20px;
}

.docs {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    padding-left: 30px;
    margin: 0;
}

.docs::before {
    position: absolute;
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    left: 0;
    transform: translateY(-10%);
}

.certificate-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.certificate-title span {
    color: #B38876;
}

.certificate-images {
    position: relative;
}

.certificate-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.certificate-list .slick-arrow.slick-prev {
    position: absolute;
    overflow: hidden;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.certificate-list .slick-arrow.slick-prev:hover {
    background: url(./IMG/logo/Arrow-l-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

.certificate-list .slick-arrow.slick-next {
    position: absolute;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.certificate-list .slick-arrow.slick-next:hover {
    background: url(./IMG/logo/Arrow-r-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

.certificate-list-counter {
    display: none;
}

/* form */

.form {
    width: 100%;
    background-color: #1F212C;
    text-align: center;
}

.form-text {
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    padding-left: 30px;
}

.form-text::before {
    position: absolute;
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    left: 0;
    transform: translateY(-10%);
}

.form-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0;
}

.form-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-item {
    position: relative;
    background-color: #262835;
    padding-left: 37px;
    padding-right: 37px;
    counter-increment: count-box;
}

.form-list li::before {
    content: "0" counter(count-box);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    background-color: #fff;
    color: #B38876;
}

.form-item:hover,
.form-item:active {
    transition-delay: 0.3s;
    transition-duration: 0.3s;
    transform: translate(20px, 20px);
}

.item-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
}

.item-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #989CA5;
    margin: 0;
}

/* comment */

.comment {
    position: relative;
    text-align: center;
}

.comment-text {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    display: inline-block;
    padding: 0;
    padding-left: 30px;
    margin: 0 auto;
}

.comment-text::before {
    position: absolute;
    display: inline-block;
    content: url(IMG/logo/Vector-STAR.svg);
    left: 0;
    transform: translateY(-10%);
}

.comment-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.comment-title span {
    color: #B38876;
}

.comment-counter {
    display: none;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment-card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(46, 52, 67, 0.07);
}

.comment-card img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.comment-card::before {
    position: absolute;
}

.comment-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #234255;
    margin: 0 auto;
}

.comment-info {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #686C77;
    margin: 0 auto;
    padding-bottom: 22px;
}

.comment-more {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #686C77;
    margin: 0 auto;
}

.comment-more::before {
    position: absolute;
    display: inline-block;
    content: '';
    height: 1px;
    background: rgba(46, 52, 67, 0.07);
}

.comment-list .slick-arrow.slick-prev {
    position: absolute;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.comment-list .slick-arrow.slick-prev:hover {
    background: url(./IMG/logo/Arrow-l-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

.comment-list .slick-arrow.slick-next {
    position: absolute;
    width: 61px;
    height: 61px;
    font-size: 0;
    border: 1px solid #EDEEEF;
    background: url(./IMG/logo/Arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.comment-list .slick-arrow.slick-next:hover {
    background: url(./IMG/logo/Arrow-r-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #B38876;
}

/* choice */

.choice {
    background-color: #F8F8FA;
}

.choice-box {
    position: relative;
}

.choice-box img {
    position: absolute;
}

.choice-name {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    padding: 0;
    padding-left: 30px;
    margin: 0;
}

.choice-name::before {
    position: absolute;
    content: url(IMG/logo/Vector-STAR.svg);
    display: inline-block;
    left: 0;
    transform: translateY(-10%);
}

.choice-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.choice-text {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #686C77;
}

.choice-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.choice-item {
    position: relative;
}

.choice-item::before {
    display: block;
    content: "";
    position: absolute;
    border: 1px solid #EDEEEF;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0E426D;
}

.choice-item-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #234255;
    margin: 0;
}

.choice-item-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.005em;
    color: #686C77;
    margin: 0;
}

.advice {
    background-color: #1F212C;
}

.advice div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0;
}

.advice-click {
    background: #B38876;
    border: none;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.advice-click a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

/* question */

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-text {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #234255;
    margin: 0;
    padding-left: 30px;
}

.question-text::before {
    display: block;
    content: url(IMG/logo/Vector-STAR.svg);
    position: absolute;
    left: 0;
    transform: translateY(-10%);
}

.question-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.question-title span {
    color: #B38876;
}

.question-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.question-item {
    position: relative;
    border: 2px solid rgba(148, 151, 165, 0.1);
}

.question-item::before {
    position: absolute;
    display: inline-block;
    content: '';
    background: #B38876;
}

.question-item::after {
    position: absolute;
    display: inline-block;
    content: "";
    background: #B38876;
    transform: rotate(90deg);
}

.question-item:not(:first-child) {
    margin-top: 20px;
}

.question-item span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #234255;
    opacity: 0.88;
}

.question-comment {
    display: none;
}

/* form */ 

.order-page {
    background-color: #F8F8FA;
}

.order {
    background-image: url(IMG/image/formImage.jpg);
}

.order-image-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0;
}

.order-image-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin: 0;
}

.order a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
    padding-right: 30px;
}

.order a::after {
    position: absolute;
    right: 0;
    top: 0;
    content: url(IMG/logo/arrow-short_right.svg);
    transform: translateY(-5%);
    width: 16px;
    height: 18px;
}

.table-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-info input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.005em;
    color: #686C77;
    background-color: #F8F8FA;
    border: 2px solid rgba(148, 151, 165, 0.1);
}

.table-info input.send-but {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0;
    border: 0;
    background-color: #B38876;
}

/* map */

.map {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-box {
    background-color: #fff;
    display: block;
    text-align: center;
}

.contact-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #234255;
    margin: 0;
}

.contact-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: -0.005em;
    color: #222227;
    margin: 0;
}

.contact-list li:not(:last-child) {
    margin-bottom: 45px;
}

.contact-map::before {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    transform: translateY(-21%);
    background-repeat: no-repeat;
    background-image: url(IMG/logo/coolicon.svg);
    background-position: center;
    background-color: #FAF7F7;
}

.contact-data::before {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    transform: translateY(-21%);
    background-repeat: no-repeat;
    background-image: url(IMG/logo/coolicon1.svg);
    background-position: center;
    background-color: #FAF7F7;
}

.contact-tel::before {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    transform: translateY(-21%);
    background-repeat: no-repeat;
    background-image: url(IMG/logo/coolicon2.svg);
    background-position: center;
    background-color: #FAF7F7;
}

.contact-mail::before {
    display: block;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    transform: translateY(-21%);
    background-repeat: no-repeat;
    background-image: url(IMG/logo/coolicon3.svg);
    background-position: center;
    background-color: #FAF7F7;
}

.contact-click {
    background: #B38876;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    border-style: none;
}

/* footer */

.footer-wrapper {
    background-color: #202228;
    background-size: cover;
}

.footer-box {
    display: flex;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-list li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.005em;
    color: #979699;
    text-decoration: none;
}

.footer-list li a:hover,
.footer-list li a:active {
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.signature-line {
    display: flex;
}

.signature-line span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: -0.005em;
    color: #979699;
}

.footer-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 125%;
    color: #FFFFFF;
    margin: 0;
}

.footer-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}

.email-line {
    position: relative;
    display: flex;
}

.email-line::after {
    position: absolute;
    content: "";
    display: block;
    border: 1px solid #C4C8D5;
}

.address-click {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #979699;
    margin: 0;
    background: transparent;
    text-decoration: none;
    border: none;
}

.footer-link {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 20px;
    margin: 0;
}

.footer-link::after {
    position: absolute;
    right: 0;
    top: 0;
    content: url(IMG/logo/arrow-short_right.svg);
    transform: translateY(-10%);
    width: 16px;
    height: 18px;
}

@media screen and (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
    
    .container {
        width: 320px;
    }

    .content {
        padding: 106px 0px 0px 0px;
    }

    .home_page {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
    }

    .site-menu {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: #fff;
    }

    .phone {
        justify-content: center;
        padding: 10px 0;
    }
    
    .phone::before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
    }
    
    .phone-icon {
        width: 13px;
        height: 100%;
        margin-right: 3.13%;
    }

    .site-menu-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .site-logo {
        width: 155px;
        margin: 18px 0 18px 20px;
    }
    
    .site-logo img {
        max-width: 100%;
    }

    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 16px;
        margin-top: 18px;
        margin-right: 20px;
    }

    .burger::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 2.5px;
        background-color: #234255;
    }

    .burger::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2.5px;
        background-color: #234255;
    }

    .burger.active::before {
        width: 30px;
        transform: rotate(45deg);
        top: 7px;
        transition: all 0.3s ease 0s;
    }

    .burger.active::after {
        width: 30px;
        transform: rotate(-45deg);
        bottom: 7px;
        transition: all 0.3s ease 0s;
    }

    .menu-item {
        position: fixed;
        z-index: 2;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0;
        margin-top: 106px;
        padding: 45px 0 0 20px;
        background: #FFFFFF;
    }

    .menu-item.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .menu-item li:not(:first-child) {
        margin-top: 45px;
    }

    .menu-item li:last-child {
        display: none;
    }

    .click{
        font-size: 24px;
    }

    /* hero */

    .hero {
        padding: 70px 20px;
    }

    .hero-time {
        font-size: 14px;
        margin: 0;
        padding-left: 23px;
    }

    .hero-time::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .hero-title {
        font-size: 31px;
        margin: 0;
        margin-top: 20px;
    }

    .hero-quote {
        font-size: 14px;
        margin: 0;
        margin-top: 25px;
    }

    .hero-button {
        width: 280px;
        height: 60px;
        margin-top: 40px;
    }

    .hero-button a {
        font-size: 14px;
    }

    .hero-image {
        display: none;
    }

    /* achievment-block */

    .achievment-block {
        padding: 80px 20px;
    }

    .achievement {
        font-size: 14px;
        margin: 0;
        padding-left: 23px;
    }

    .achievement::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .achievement-title {
        font-size: 26px;
        margin: 0;
        margin-top: 15px;
    }

    .achievement-button {
        width: 280px;
        height: 60px;
        margin-top: 40px;
    }

    .achievement-button a {
        font-size: 14px;
    }

    .advantages-list {
        margin-top: 40px;
    }

    .advantages-card {
        padding-left: 56px;
    }

    .advantages-card:not(:first-child) {
        margin-top: 25px;
    }

    .advantages-title {
        font-size: 18px;
        margin: 0;
    }

    .advantages-text {
        font-size: 14px;
        margin-top: 6px;
    }

    /* hero-header-wrapper */

    .hero-header-wrapper {
        padding: 0 20px 100px 20px;
    }

    .hero-header-title {
        font-size: 26px;
    }

    .hero-header-title::before,
    .hero-header-title::after {
        width: 19px;
    }

    .hero-header-title::before {
        left: -5%;
    }
    
    .hero-header-title::after {
        right: -5%;
    }

    .hero-header-quote {
        font-size: 16px;
        margin-bottom: 26px;
        padding-top: 30px;
        margin-top: 30px;
    }

    .hero-header-quote::before {
        width: 70px;
        height: 2px;
    }

    .author {
        font-size: 14px;
    }

    .treatment {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 70px;
    }

    .methods-wrapper {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
    }

    .methods-top {
        font-size: 14px;
        padding-left: 23px;
    }

    .methods-top::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .methods-FauziaAkhtari {
        margin-top: 15px;
        font-size: 26px;
    }

    .methods-main {
        font-size: 14px;
        margin-top: 25px;
    }

    .methods-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .methods-card {
        width: 130px;
    }

    .methods-numb {
        font-size: 30px;
    }

    .methods-description {
        font-size: 14px;
    }

    .treatment-image img {
        width: 320px;
        height: 280px;
    }

    /* offer */

    .offer-wrapper {
        text-align: center;
        padding: 80px 20px 0 20px;
    }

    .offer-text {
        display: inline-block;
        font-size: 14px;
        padding-left: 23px;
    }

    .offer-text::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .offer-title {
        font-size: 26px;
        margin-top: 15px;
    }

    .offer-images {
        position: relative;
        margin-top: 40px;
        padding-bottom: 90px;
    }

    .list-counter {
        display: inline-block;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #234255;
    }

    .offer-list .slick-arrow.slick-prev {
        left: 25px;
        bottom: -90px;
    }

    .offer-list .slick-arrow.slick-next {
        right: 25px;
        bottom: -90px;
    }

    .offer-card img {
        width: 280px;
        height: 373px;
    }

    .offer-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 194px 25px 0 25px;
    }

    .offer-card-title {
        font-size: 18px;
    }

    .offer-card-text {
        font-size: 14px;
        margin-top: 20px;
        text-align: left;
        letter-spacing: 0.015em;
    }
    
    .offer-link-wrapper {
        margin-top: 20px;
    }

    .offer-link {
        font-size: 16px;
    }

    /* certificates */

    .certificate-box {
        padding: 80px 20px;
        text-align: center;
    }

    .docs {
        font-size: 14px;
        display: inline-block;
        padding-left: 23px;
    }

    .docs::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .certificate-title {
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .certificate-images {
        position: relative;
        padding-bottom: 90px;
    }

    .certificate-list-counter {
        display: inline-block;
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #234255;
    }

    .certificate-item img {
        width: 280px;
        height: 195px;
    }

    .certificate-list .slick-arrow.slick-prev {
        left: 25px;
        bottom: -90px;
    }

    .certificate-list .slick-arrow.slick-next {
        right: 25px;
        bottom: -90px;
    }

    /* form */

    .form-box {
        padding: 80px 26px;
    }

    .form-text {
        font-size: 14px;
        display: inline-block;
        padding-left: 23px;
    }

    .form-text::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .form-title {
        font-size: 26px;
        margin-top: 15px;
    }

    .form-list {
        margin-top: 82px;
    }

    .form-list li:not(:first-child) {
        margin-top: 67px;
    }

    .form-item {
        padding: 62px 25px 0 25px;
        width: 265px;
        height: 198px;
        text-align: left;
    }

    .form-list li::before {
        width: 64px;
        height: 64px;
        top: -32px;
        font-size: 23px;
    }

    .item-title {
        font-size: 18px;
    }

    .item-text {
        font-size: 14px;
        margin-top: 10px;
    }

    /* comment */

    .comment {
        padding: 80px 20px;
        margin-bottom: 90px;
    }

    .comment-text {
        font-size: 14px;
        display: inline-block;
        padding-left: 23px;
    }

    .comment-text::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .comment-title {
        font-size: 26px;
        margin-top: 15px;
    }

    .comment-counter {
        display: inline-block;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #234255;
    }

    .comment-card {
        width: 280px;
        height: 304px;
        text-align: center;
        padding: 60px 20px 40px 20px;
        margin-top: 76px;
    }

    .comment-card::before{
        content: url(IMG/logo/Icon-mob.png);
        top: 36px;
        left: 20px;
    }

    .comment-name {
        font-size: 22px;
    }

    .comment-info {
        font-size: 14px;
        margin-top: 2px;
    }

    .comment-more {
        font-size: 14px;
        padding-top: 22px;
    }

    .comment-more::before {
        top: 0;
        width: 190px;
    }

    .comment-list .slick-arrow.slick-prev {
        left: 25px;
        bottom: -90px;
    }

    .comment-list .slick-arrow.slick-next {
        right: 25px;
        bottom: -90px;
    }

    /* choice */

    .choice-box {
        padding: 70px 20px 330px 20px;
    }

    .choice-box img {
        left: 0;
        bottom: 0;
        width: 320px;
        height: 280px;
    }

    .choice-name {
        font-size: 14px;
        padding-left: 23px;
    }

    .choice-name::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .choice-title {
        font-size: 26px;
        margin-top: 15px;
    }

    .choice-text {
        font-size: 14px;
        margin-top: 25px;
    }

    .choice-list {
        padding-top: 50px;
    }

    .choice-list li:not(:first-child) {
        margin-top: 30px;
    }

    .choice-item {
        padding-top: 55px;
    }

    .choice-item-title {
        font-size: 18px;
    }

    .choice-item-text {
        font-size: 14px;
        margin-top: 6px;
    }

    .choice-item::before {
        width: 40px;
        height: 40px;
        background-image: url(IMG/logo/image-tree-mob.png);
    }

    /* advice */

    .advice {
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: center;
    }

    .advice-title {
        font-size: 26px;
    }

    .advice-click {
        width: 202px;
        height: 60px;
        margin-top: 40px;
    }

    .advice-click a {
        font-size: 14px;
    }

    /* question */

    .question {
        padding: 80px 20px;
    }

    .question-text {
        font-size: 14px;
        padding-left: 23px;
    }

    .question-text::before {
        width: 15px;
        height: 15px;
        content: url(./IMG/logo/star-mob.svg);
        transform: translateY(0);
    }

    .question-title {
        font-size: 26px;
        margin: 15px 40px 0 40px;
        text-align: center;
    }

    .question-list {
        margin-top: 40px;
    }

    .question-item {
        width: 280px;
        padding: 30px 0 30px 24px;
    }

    span.question-comment-title {
        display: inline-block;
        font-size: 16px;
        line-height: 130%;
        width: 190px;
    }

    span.question-comment {
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: 0.015em;
        color: #686C77;
        margin-top: 15px;
    }

    span.question-comment {
        display: inline-block;
        margin-right: 24px;
    }

    .question-item::before {
        width: 16px;
        height: 2.5px;
        right: 30px;
        top: 38px;
    }

    .question-item::after {
        width: 16px;
        height: 2.5px;
        right: 30px;
        top: 38px;
    }

    /* order */

    .order {
        width: 320px;
        height: 336px;
        padding: 70px 24px;
    }

    .order-image-title {
        font-size: 26px;
    }

    .order-image-text {
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 33px;
    }

    .order a {
        font-size: 14px;
        padding-right: 20px;
    }

    .table-info {
        padding: 80px 20px;
    }

    .table-info input {
        font-size: 14px;
        padding: 24px;
    }

    .table-info input:not(:first-of-type) {
        margin-top: 20px;
    }

    .table-info input.send-but {
        font-size: 14px;
        width: 280px;
        height: 60px;
    }

    /* contact-box */

    .contact-box {
        padding: 80px 20px 400px 20px;
    }

    .contact-title {
        font-size: 26px;
    }

    .contact-list {
        margin-top: 40px;
    }

    .contact-list li {
        font-size: 16px;
        padding-left: 70px;
    }

    .contact-click {
        font-size: 16px;
        width: 280px;
        height: 60px;
        margin-top: 60px;
    }

    .map {
        position: relative;
    }

    .map img {
        display: none;
    }

    .iframe-map {
        position: absolute;
        bottom: 80px;
        text-align: center;
    }

    /* footer */

    .footer-box {
        padding: 56px 20px 0 20px;
        flex-direction: column-reverse;
    }

    .footer-list {
        margin-top: 54px;
    }

    .signature-line {
        margin-top: 27px;
        padding-bottom: 27px;
    }

    .signature-line span {
        font-size: 14px;
    }

    .signature-line span:first-of-type {
        margin-right: 34px;
    }

    .footer-title {
        font-size: 26px;
    }

    .footer-text {
        font-size: 14px;
        margin-top: 38px;
    }

    .email-line {
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        padding-bottom: 16px;
    }

    .address-click {
        font-size: 12px;
    }

    .footer-link {
        font-size: 14px;
        padding-right: 20px;
    }

    .email-line::after {
        width: 280px;
        bottom: 0;
    }
}

/* @media screen and (min-width: 768px) {
    .container {
        width: 740px;
    }
} */

@media screen and (min-width: 768px) {
    .container {
        width: 1440px;
        margin: 0 auto;
    }

    .site-menu {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: start;
        padding-top: 34px;
        padding-bottom: 36px;
    }

    .site-menu-wrapper {
        align-items: center;
        margin-left: 10.42%;
    }

    .site-logo {
        display: inline-block;
        width: 186px;
        height: 28px;
        margin: 0;
        padding: 0;
        object-fit: contain;
    }

    .menu-item {
        display: block;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        width: 515px;
        height: 28px;
        margin-left: 108px;
        margin-right: 108px;
        padding: 0px;
    }

    .click {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .click a::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #4370bd;
    }

    .clic a:active::after,
    .click a:hover::after {
        width: 100%;
    }

    .site-menu .phone {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 224px;
    }

    .phone::before {
        left: -30px;
        top: -6px;
        width: 1.5px;
        height: 40px;
    }
    
    .phone-icon {
        width: 16px;
        margin-right: 10px;
        margin-bottom: 6px;
    }

    /* hero */
    
    .hero {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 722px;
        margin-bottom: 160px;
    }

    .hero-info {
        width: 720px;
        padding-left: 150px;
        padding-top: 106px;
        padding-bottom: 82px;
    }

    .hero-time {
        width: 330px;
        margin: 0;
        margin-bottom: 26px;
    }

    .hero-title {
        width: 510px;
        margin: 0;
        margin-bottom: 34px;
    }

    .hero-quote {
        width: 380px;
        margin: 0;
        margin-bottom: 50px;
    }

    .hero-button {
        width: 238px;
        height: 70px;
    }

    .hero-button:active,
    .hero-button:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #8a2be2;
    }

    .hero-image {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* achievment of hero */

    .achievment-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 160px;
        position: relative;
    }

    .achievement-wrapper {
        width: 400px;
        margin: 0;
        margin-left: 150px;
    }

    .achievement {
        margin: 0;
        margin-bottom: 22px;
    }

    .achievement-title {
        margin: 0;
        margin-bottom: 106px;
    }

    .achievement-button {
        position: absolute;
        bottom: 0;
        width: 238px;
        height: 70px;
        margin-bottom: 8px;
        margin-left: 150px;
    }

    .achievement-button:active,
    .achievement-button:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #4370bd;
    }

    .advantages-wrapper {
        width: 590px;
        margin: 0;
        margin-left: 170px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
    }

    .advantages-card {
        width: 260px;
        padding-top: 58px;
        margin: 0;
    }

    .advantages-card:nth-child(-n+2) {
        margin-bottom: 72px;
    }

    .advantages-card:nth-child(2n) {
        margin-left: 70px;
    }

    .advantages-title {
        margin: 0;
    }

    /* hero-header */

    .hero-header-wrapper {
        margin-bottom: 158px;
    }

    .hero-header-title {
        margin-bottom: 40px;
    }

    .hero-header-title::before {
        left: 0;
    }
    
    .hero-header-title::after {
        right: 0;
    }

    .hero-header-title::before,
    .hero-header-title::after {
        width: 457px;
    }

    .hero-header-quote {
        width: 500px;
        margin-bottom: 26px;
        padding-top: 40px;
    }

    .hero-header-quote::before {
        width: 100px;
        height: 3px;
    }

    .treatment {
        margin-bottom: 162px;
    }

    .treatment-image img {
        object-fit: cover;
        width: 100%;
    }

    .methods-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 720px;
        padding-top: 132px;
        padding-right: 160px;
        padding-left: 140px;
    }

    .methods-top {
        margin-bottom: 22px;
    }

    .methods-FauziaAkhtari {
        margin-bottom: 30px;
    }

    .methods-main {
        width: 370px;
        margin-bottom: 50px;
    }

    .methods-list {
        display: flex;
        flex-wrap: wrap;
    }

    .methods-card {
        width: 200px;
    }

    .methods-card:nth-child(-n+2) {
        margin-bottom: 20px;
    }
    
    .methods-card:nth-child(2n+2) {
        margin-left: 20px;
    }

    /* offer */

    .offer-wrapper {
        margin-right: 151px;
        margin-left: 151px;
        margin-bottom: 162px;
    }

    .offer-text {
        margin-bottom: 22px;
    }

    .offer-title {
        margin-bottom: 70px;
    }

    .offer-list .slick-arrow.slick-prev {
        left: 993px;
        top: -130px;
    }
    
    .offer-list .slick-arrow.slick-next {
        left: 1076px;
        top: -130px;
    }

    .offer-list .slick-list {
        width: 1140px;
    }

    .offer-list .slick-slide {
        width: 355px;
        height: 450px;
        margin: 0 20px;
    }

    .offer-card-wrapper {
        width: 355px;
        height: 450px;
        padding-top: 266px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .offer-card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .offer-card-text {
        font-size: 16px;
        margin-bottom: 20px;
        width: 275px;
    }

    .offer-link {
        font-size: 18px;
    }

    .offer-link-wrapper {
        margin-bottom: 44px;
    }

    /* certificate */

    .certificate {
        margin-left: 150px;
        margin-bottom: 160px;
    }

    .certificate-list .slick-list {
        width: 1290px;
        height: 274px;
    }

    .docs {
        margin-bottom: 22px;
    }

    .certificate-title {
        margin-bottom: 70px;
    }

    .certificate-list .slick-arrow.slick-prev {
        position: absolute;
        overflow: hidden;
        left: 993px;
        top: -130px;
        width: 61px;
        height: 61px;
        font-size: 0;
        border: 1px solid #EDEEEF;
        background: url(./IMG/logo/Arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .certificate-list .slick-arrow.slick-prev:hover {
        background: url(./IMG/logo/Arrow-l-w.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #B38876;
    }

    .certificate-list .slick-arrow.slick-next {
        position: absolute;
        width: 61px;
        height: 61px;
        left: 1076px;
        top: -130px;
        font-size: 0;
        border: 1px solid #EDEEEF;
        background: url(./IMG/logo/Arrow-right.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .certificate-list .slick-arrow.slick-next:hover {
        background: url(./IMG/logo/Arrow-r-w.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #B38876;
    }

    /* form */

    .form-box {
        padding-top: 132px;
        padding-right: 147px;
        padding-bottom: 150px;
        padding-left: 147px;
    }

    .form-text {
        margin-bottom: 22px;
    }

    .form-title {
        margin-bottom: 117px;
    }

    .form-list {
        display: flex;
        flex-direction: row;
    }

    .form-item {
        width: 268px;
        height: 223px;
    }

    .form-list li::before {
        width: 74px;
        height: 74px;
        top: -56px;
        font-size: 32px;
    }

    .form-item:not(:first-child) {
        margin-left: 32px;
    }

    .item-title {
        margin-top: 76px;
        margin-bottom: 11px;
    }

    .item-text {
        margin-bottom: 37px;
    }

    /* comment */

    .comment {
        margin-top: 160px;
        padding-bottom: 280px;
    }

    .comment-list {
        position: relative;
        list-style: none;
        display: flex;
        height: 380px;
    }

    .comment-list .slick-list {
        width: 1440px;
        text-align: center;
        margin: 0 auto;
    }

    .comment-list .comment-card {
        height: 340px;
    }

    .comment-list .slick-list .slick-track {
        height: 340px;
    }

    .comment-list .slick-arrow.slick-prev {
        left: 649px;
        top: 440px;
    }

    .comment-list .slick-arrow.slick-next {
        left: 730px;
        top: 440px;
    }

    .comment-text {
        margin-bottom: 22px;
    }

    .comment-title {
        margin-bottom: 70px;
    }

    .comment-card {
        width: 570px !important;
        text-align: center;
        margin: 36px 20px 0 20px;
    }

    .comment-card.slick-center {
        transform: translateY(-36px);
        box-shadow: 0px 55px 80px -10px rgba(30, 30, 30, 0.04);
        transition: all 0.5s ease-out;
    }

    .comment-card.slick-center img {
        display: none;
    }

    .comment-card::before {
        content: url(IMG/logo/Icon.png);
        top: 32px;
        left: 34px;
    }

    .comment-info {
        width: 110px;
    }

    .comment-name {
        margin-top: 60px;
        margin-bottom: 14px;
    }

    .comment-more {
        width: 462px;
        font-size: 18px;
        padding-top: 22px;
        padding-bottom: 68px;
    }

    .comment-more::before {
        top: 0;
        left: 0;
        width: 462px;
    }

    /* choice */

    .choice-box {
        padding-top: 132px;
        padding-bottom: 80px;
        padding-left: 150px;
    }

    .choice-box img {
        top: 0;
        right: 0;
    }

    .choice-name {
        margin-bottom: 22px;
    }

    .choice-title {
        margin-bottom: 30px;
    }

    .choice-text {
        margin-bottom: 55px;
    }

    .choice-item {
        padding-left: 80px;
        width: 420px;
        height: auto;
    }

    .choice-item::before {
        width: 55px;
        height: 55px;
        background-image: url(IMG/logo/image-tree.png);
    }

    .choice-item-title {
        margin-bottom: 4px;
    }

    .choice-item-text {
        margin-bottom: 30px;
    }

    .advice div {
        padding-top: 130px;
    }

    .advice-title {
        margin-bottom: 50px;
    }

    .advice-click {
        width: 229px;
        height: 70px;
        margin-bottom: 130px;
    }

    /* question */

    .question {
        margin-top: 162px;
    }

    .question-text {
        margin-bottom: 22px;
    }

    .question-title {
        margin-bottom: 60px;
    }

    .question-item {
        width: 1141px;
        height: 98px;
        padding-top: 33px;
        padding-bottom: 33px;
        padding-left: 39px;
    }

    .question-item::before {
        width: 22px;
        height: 4px;
        right: 41px;
        top:46px;
    }

    .question-item::after {
        width: 22px;
        height: 4px;
        right: 41px;
        top: 46px;
    }

    /* form */

    .order-page {
        margin-top: 160px;
    }

    .order-box {
        display: flex;
        flex-direction: row;
    }

    .order {
        display: inline-block;
        padding-top: 177px;
        padding-bottom: 136px;
        padding-left: 150px;
        padding-right: 148px;
        width: 720px;
        height: 645px;
    }

    .order-image-title {
        margin-bottom: 36px;
    }

    .order-image-text {
        margin-bottom: 55px;
    }

    .table-info {
        margin-top: 90px;
        margin-right: 150px;
        margin-bottom: 90px;
        margin-left: 96px;
        height: 465px;
    }

    .table-info input {
        width: 474px;
        height: 75px;
        padding-left: 24px;
    }

    /* map */

    .iframe-map {
        display: none;
    }

    .map img {
        width: 100%;
        height: 928px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    
    .map-wrapper {
        width: 100%;
        height: 928px;
        background-color: rgb(0, 0, 2);
        opacity: 0.43;
        position: absolute;
        z-index: -1;
    }

    .contact-box {
        width: 422px;
        height: 611px;
        margin-top: 156px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact-title {
        margin-top: 56px;
        margin-bottom: 70px;
    }

    .contact-list li {
        padding-left: 70px;
    }

    .contact-click {
        width: 322px;
        height: 70px;
        margin-top: 65px;
    }

    /* footer */

    .footer-wrapper {
        height: 488px;
        margin-top: 160px;
    }

    .footer-box {
        flex-direction: row;
    }

    .footer-list {
        padding-left: 150px;
        padding-top: 100px;
    }

    .signature-line {
        justify-content: space-between;
        margin-left: 150px;
        margin-top: 140px;
        width: 174px; 
    }

    .footer-box {
        justify-content: space-between;
    }

    .footer-email-box {
        margin-right: 170px;
    }

    .footer-title {
        width: 430px;
        margin-top: 80px;  
    }

    .footer-text {
        margin-top: 68px;  
    }

    .address {
        margin-top: 24px;
    }

    .email-line {
        flex-direction: row;
        justify-content: space-between;
        width: 505px;
        padding-bottom: 17px;
        margin-top: 24px;
    }

    .email-line::after {
        right: 0;
        bottom: 0;
        width: 505px;    
    }

    /* .footer-link {
        margin-top: 24px;
        margin-left: 266px;
    } */
}